* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  min-height: 100vh;
  background-color: darkgray;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 15px;
  grid-auto-rows: minmax(210px, 100%);
}
.item {
  border: solid 2px black;
  background-color: white;
  font-size: 25px;
  padding: 10px;
}
