body {
  background-color: #2c2c2d;
  color: #fff;
  font-family: sans-serif;
  text-align: center;
}

.grid-container {
  background-color: #fff;
  min-height: 100vh;
  padding: 1rem;
  /* ativa comentario CTRL + : */
  /* ativa o grid display */
  display: grid;
  gap: 1rem;

  grid-template-columns: 10rem 30rem 5rem;
  grid-template-rows: 6rem 20rem 4rem 6rem;
}

.grid-item {
  background-color: #4c5caf;
  padding: 1rem;
}

.header {
  grid-column: 1 / 4;
  grid-row: 1;
}

.sidebar {
  grid-column: 1;
  grid-row: span 3;
}

.main {
  grid-column: 2/4;
  grid-row: 2;
}

.footer {
  grid-column: span 3;
  grid-row: 5;
}
