* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  background-color: darkgray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.item {
  border: solid 2px black;
  background-color: white;
  font-size: 20px;
  justify-content: center;
}
.header {
  height: 40px;
}
.main-content {
  flex: 1 0 auto;
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px 5px;
  grid-template-areas:
    "item1 item2 item3"
    "item4 item4 item4"
    "item5 item5 item6";
}
.item1 {
  min-width: 250px;
  grid-area: item1;
}
.item2 {
  min-width: 250px;
  grid-area: item2;
}
.item3 {
  min-width: 250px;
  grid-area: item3;
}
.item4 {
  grid-area: item4;
}
.item5 {
  grid-area: item5;
  min-width: 350px;
}
.item6 {
  grid-area: item6;
  min-width: 250px;
}
.footer {
  height: 40px;
}

@media (max-width: 780px) {
  .main-content {
    grid-template-areas:
      "item1 item1 item1"
      "item2 item2 item2"
      "item3 item3 item3"
      "item4 item4 item4"
      "item5 item5 item6";
  }
}
@media (max-width: 630px) {
  .main-content {
    grid-template-areas:
      "item1 item1 item1"
      "item2 item2 item2"
      "item3 item3 item3"
      "item4 item4 item4"
      "item5 item5 item5"
      "item6 item6 item6";
  }
}
@media (max-width: 360px) {
  .item5 {
    min-width: auto;
  }
} ;
