* {
  margin: 0px;
  padding: 0px;
}
.post-container {
  background-color: #fffafa;
  width: 70%;
  margin: auto;
}
.post {
  padding: 40px;
}
.date {
  color: #008080;
  font-family: "Roboto", sans-serif;
  padding-bottom: 20px;
  font-size: 0.7em;
  font-weight: bold;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  padding-bottom: 20px;
}

.post-content {
  font-family: "Open sans", sans-serif;
  font-size: 0.8em;
}
input[type="submit"] {
  color: red;
}

.date > p {
  color: yellow;
}
